*,
*::before,
*::after {
  position: relative;
}
.slides {
  display: grid;
}
.slides > .slide {
  grid-area: 1 / 1;
}
.slides > button {
  appearance: none;
  background: transparent;
  border: none;
  color: black;
  position: absolute;
  font-size: 13.5rem;
  width: 5rem;
  height: 5rem;
  top: 10%;
  transition: opacity 0.3s;
  opacity: .6;
  z-index: 5;
}
.slides > button:hover {
  opacity: 1;
}
.slides > button:focus {
  outline: none;
}
.slides > button:first-child {
  left: -100%;
}
.slides > button:last-child {
  right: -100%;
}
.slideContent {
  width: 20vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  transform-style: preserve-3d;
  justify-items: center;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}
.slideContentInner {
  /* position: fixed; */
  bottom: -10.5vh;
  left: 0vh;

  transform-style: preserve-3d;
  transform: translateZ(1rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0.5;
}
.slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
}
.slideContentInner .slideSubtitle::before {
  content: "— ";
  color: #fff;
}
.slideContentInner .slideDescription {
  color: #fff;
  margin-top: .5vh;
  font-size: 1rem;
  letter-spacing: 0.2ch;
}
.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}
.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}
.slide[data-active] .slideBackground {
  opacity: 0.2;
  transform: none;
}
.slide[data-active] .slideContentInner {
  opacity: 1;
}
.slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  transform: perspective(1000px);
}
.slide[data-active] .slideContent:hover {
  transition: none;
  transform: perspective(1000px) rotateY(calc(var(--x) * 20deg)) rotateX(calc(var(--y) * -20deg));
}

.slide-image {
  position: fixed;
  height: 19vh;
  width: 18vw;
  margin: 1vh 1vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slideContentInner:hover {
  cursor: pointer;
}

.home-sec-2 {
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*
toggle margin off
set height width to 90%
justify-items center
border radius: 10px (slideContent)

slideContentInner >
  slideTitle: 2vh
  slideSubtitle: 1.75vh
  slideDescription: 1.5vh
slide-image >
  margin-top: -2vh
translate-z: 5rem
*/