/* USER PROFILE */
.Profile {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  /* background-image: linear-gradient(to bottom, rgba(246,	235,	233, .75), rgba(237,	224,	138, .25)); */
  /* text-shadow:1px 1px 1px lightgray; */
  padding-top:80px;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%); 
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Profile-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  padding: 10px;
}

.Profile-column.left div {
  max-width: 300px;
}

.Profile-column.right > div {
  max-width: 700px;
}

.ProfilePhoto {
  object-fit: cover;
  box-shadow: 1px 1px 1px darkslategray;
}

.ProfileInfo {
  text-shadow:1px 1px 1px lightgray;
}

.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 4em;
}

.user-about {
  display: flex;
  justify-content: start;
  align-items: left;
  text-align: left;
}

.SocialMediaLinks {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: max-content;
  background-color: #EA1471;
  margin: 10px;
  padding: .75em;
  box-shadow: 1px 1px 1px darkslategray;
}

/* .SocialMediaLinks:hover {
  background-color: #C91161;
} */

.Profile-link:hover {
  text-shadow: 4px 4px 10px #F6EBE9;
}

.SocialMediaLinks > h4 {
  text-align: center;
  margin: 0px;
  text-shadow:4px 4px 8px darkslategray;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0px;
  margin-bottom: 0px;
  background-color: #F6EBE9;
  color: black;
  box-shadow: 1px 1px 1px darkslategray;
  width: 300px;
}

.ProfileButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.followButton {
  color: #359DF3;
  background-color: #359DF3;
}

.messageButton {
  color: #EE3584;
  background-color: #EE3584;
}

.ProfileCarousel {
  text-shadow:1px 1px 1px lightgray;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 400px;
  width: 700px;
}

/* .followers {
  margin: 0px;
  padding: 0px;
}

.following {
  margin: 0px;
  padding: 0px;
} */

.Profile h3 {
  text-align: left;
}

.Profile h5 {
  margin: .4em;
}

.Profile h6 {
  margin: .4em;
}

.ProfileEvents > div {
  margin: 0;
}

.ProfileEvents {
  padding: 0px;
  color: whitesmoke;
  background-color: #128DF1;
  display: flex;
  flex-direction: column;
  text-shadow:4px 4px 8px darkslategray;
  box-shadow: 1px 1px 1px darkslategray;
}

.Profile-EventListing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Profile-EventListing:hover {
  text-shadow: 8px 8px 10px black;
}
