@font-face {
  font-family: "PM-light-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Light-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-medium-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Medium-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-regular";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Regular.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold.otf') format("opentype");
}

/* USER PROFILE */
.Profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  justify-content: start;
  /* text-shadow:1px 1px 1px lightgray; */
  padding-top: 80px;
  min-height: 150vh;
  min-width: 100vw;
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%);
  /* background-image: linear-gradient(to bottom, rgba(238, 53, .65), rgba(246, 245, 233, .1) 70.71%); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  perspective: 400px;
  perspective-origin: 50% 30%;
  --cameraZ: 0;
}

.Profile-overview {
  display: flex;
  flex-direction: row;
  /* align-items:flex-end; */
  align-self: center;
  min-height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
}


/* .parallax {
  height: 100vh;
  width: 100vw;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%); 
} */

/* .Profile-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  padding: 10px;
}

.Profile-column.left div {
  max-width: 30vw;
}

.Profile-column.right div {
  max-width: 70vw;
} */

.ProfilePhoto {
  object-fit: cover;
  width: 300px;
  height: 350px;
  box-shadow: 4px 4px 8px darkslategray;
  transform-style: preserve-3d;
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  text-shadow:2px 2px 4px whitesmoke;
  width: inherit;
  margin: 10px;
  justify-content: flex-end;
  transform-style: preserve-3d;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 2em;
  width: inherit;
  font-family: "PM-semi-bold";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Light-Shadow.otf') format("opentype");
  transform-style: preserve-3d;
}

.user-about {
  display: flex;
  justify-content: start;
  align-items: left;
  text-align: left;
  width: 700px;
  margin: 10px;
  transform-style: preserve-3d;
}

.box-row {
  display: flex;
  flex-direction: row;
  align-content:stretch;
  align-items:baseline;
  justify-content: space-between;
  margin-bottom: 0px;
  transform-style: preserve-3d;
}

.stats-and-buttons {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}

.SocialMediaLinks {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: max-content;
  background-color: #EA1471;
  margin: 10px;
  padding: .75em;
  box-shadow: 4px 4px 8px darkslategray;
  text-shadow: 1px 1px 2px darkslategray;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}

.Profile-link:hover {
  text-shadow: 4px 4px 10px #F6EBE9;
}

.SocialMediaLinks > h4 {
  text-align: left;
  margin: 0px;
  text-shadow:4px 4px 8px darkslategray;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.stats {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  margin: 10px;
  background-color: #F6EBE9;
  color: black;
  box-shadow: 4px 4px 8px darkslategray;
  width: 300px;
  transform-style: preserve-3d;
}

.ProfileButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  transform-style: preserve-3d;
}

.followButton {
  color: #359DF3;
  background-color: #359DF3;
}

.messageButton {
  color: #EE3584;
  background-color: #EE3584;
}

.Profile h3 {
  text-align: left;
  font-family: 'PM-regular';
}

.Profile h4 {
  font-family: 'PM-regular';
}

.Profile h5 {
  margin: .4em;
}

.Profile h6 {
  margin: .4em;
}

.ProfileEvents > span, h4 {
  margin-top: 0;
}

/* .ProfileEvents > span {
  padding-top: 0;
  margin-top: 0;
} */

.ProfileEvents {
  padding: 10px;
  color: whitesmoke;
  background-color: #128DF1;
  display: flex;
  flex-direction: column;
  text-shadow:4px 4px 8px darkslategray;
  box-shadow: 4px 4px 8px darkslategray;
  font-family: 'PM-regular';
  text-align: left;
  overflow-y: scroll;
  width: 200px;
  height: 300px;
}

.Profile-EventListing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* text-align: left; */
  margin: 0;
  padding: 0;
}

.Profile-EventListing:hover {
  text-shadow: 8px 8px 10px black;
}


/* CAROUSELS */
.Profile-art-set {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  text-shadow:2px 2px 4px whitesmoke;
  width: 1400px;
  height: 40vh;
  overflow-x: hidden;
  margin: 10px;
  padding: 5px;
  background-image:linear-gradient(to bottom, #F6EBE9, #EDE08A);
  box-shadow: 4px 4px 8px darkslategray;

}

/* .Profile-art-set > h3 {
  margin-left: ;
} */

/*
.ProfileCarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-evenly;
  height: 210px;
  padding: 25px;
  width: 700px;
  margin-top: 5px;
  background-color: #128DF1;
  box-shadow: 4px 4px 8px darkslategray;
}

.GalleryItem {
  //height: 200px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  //position: relative;
  //overflow: scroll;
  box-shadow: 1px 1px 1px darkslategray;
}

.ProfileCollection {
  text-align: left;
  align-self: center;
}
*/

/* copied code */
*,
*::before,
*::after {
  position: relative;
}

.Profile .slides {
  display: grid;
}
.Profile .slides > .slide {
  grid-area: 1 / 1;
}

.Profile .slides > button {
  appearance: none;
  background: transparent;
  border: none;
  color: black;
  position: absolute;
  font-size: 13.5rem;
  width: 5rem;
  height: 5rem;
  top: 10%;
  transition: opacity 0.3s;
  opacity: .6;
  z-index: 5;
}

.Profile .slides > button:hover {
  opacity: 1;
}

.Profile .slides > button:focus {
  outline: none;
}

.Profile .slides > button:first-child {
  left: -100%;
}

.Profile .slides > button:last-child {
  right: -100%;
}

.Profile .slideContent {
  width: 17vw;
  height: 15vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.Profile .slideContentInner {
  /* position: fixed; */
  bottom: -10.5vh;
  left: 2vh;

  transform-style: preserve-3d;
  transform: translateZ(1rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0.4;
}

.Profile .slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
}
.Profile  .slideContentInner .slideSubtitle::before {
  content: "— ";
  color: #fff;
}

.Profile .slideContentInner .slideDescription {
  color: #fff;
  margin-top: .5vh;
  font-size: 1rem;
  letter-spacing: 0.2ch;
}

.Profile .slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}

.Profile .slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}

.Profile .slide[data-active] .slideBackground {
  opacity: 0.2;
  transform: none;
}

.Profile .slide[data-active] .slideContentInner {
  opacity: 1;
}

.Profile .slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  transform: perspective(1000px);
}

.Profile .slide[data-active] .slideContent:hover {
  transition: none;
  transform: perspective(1000px) rotateY(calc(var(--x) * 20deg)) rotateX(calc(var(--y) * -20deg));
}

.Profile .slide-image {
  position: fixed;
  height: 19vh;
  width: 18vw;
  margin: 1vh 2vh 2vh -1vh;
  background-position: center;
  background-repeat: no-repeat;
}

.Profile .slideContentInner:hover {
  cursor: pointer;
}

.Profile .home-sec-2 {
  position: relative;
}