.Livestream {
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%);
}

.Livestream-sub {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.ChatBidding {
  padding-bottom: 100px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  font-family: "PM-semi-bold";
}

.ChatBidding-eachMsg {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px 30px;
}

#ChatBidding-eachMsgContent {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: #EE3584;
  font-family: "PM-regular";
}

#ChatBidding-eachMsgName {
  color: #EE3584;
  font-family: "PM-semi-bold";
}

.ChatBidding-neonText {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 5px;
  font-size: 40px;
  color: #F2828F;
  text-shadow:
      0 0 7px rgb(255, 255, 255),
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

#ChatBidding-eachBid {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  color: rebeccapurple;
  font-family: "PM-semi-bold";
}

#ChatBidding-messageArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid lightblue;
  font-family: "PM-regular";
  color: rebeccapurple;
}

#ChatBidding-bidArea {
  display: flex;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid lightblue;
}

.ChatBidding-messageInput {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid lightblue;
  font-family: "PM-regular";
}

.ChatBidding-biddingInput {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid lightblue;
}