.calendar {
  background-image: linear-gradient(225deg, rgba(255, 96, 79, 0.65), rgba(246,245,233,.1) 70.71%),
  linear-gradient(135deg, rgb(77, 175, 255), rgba(246,245,233,1) 70.71%);
}

@font-face {
  font-family: "PM-light-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Light-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-medium-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Medium-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-regular";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Regular.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold-Shadow.otf') format("opentype");
}

/* this is for headers */
@font-face {
  font-family: "PM-semi-bold";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold.otf') format("opentype");
}

.title {
  font-family: "PM-semi-bold";
  font-size: 75px;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.css-r610d0-MuiButtonBase-root-MuiButton-root {
  font-family: "PM-semi-bold";
  font-size: 22px !important;
  color: #003a69;
  background-color: #4aaeff;
  box-shadow: 2px 2px 2px 2px rgb(12, 105, 243);
}


svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: rgb(235, 235, 235) !important;
}

.rbc-toolbar {
  margin-bottom: 30px;
  margin-top: 40px;
  color:black;
  font-family: "PM-semi-bold";

}
.rbc-toolbar-label {
  font-size: 48px;
}

.rbc-btn-group{
  font-size: 20px;
}

.rbc-month-view {
  font-size: 20px;
  font-family: "PM-semi-bold";
}

.rbc-btn-group > button:first-child:not(:last-child) {
  font-size: 24px;
  background-color: #ff95a2 !important;
  border-color:#ff5c5c !important;
   box-shadow: 2px 2px 2px 2px rgb(233, 233, 233);
  font-family: "PM-semi-bold";
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  font-size: 24px;
  background-color: #ff95a2 !important;
  border-color:#ff5c5c !important;
   box-shadow: 2px 2px 2px 2px rgb(233, 233, 233);
  font-family: "PM-semi-bold";
}

.rbc-btn-group > button:last-child:not(:first-child) {
  font-size: 24px;
  background-color: #ff95a2 !important;
  border-color:#ff5c5c !important;
   box-shadow: 2px 2px 2px 2px rgb(233, 233, 233);
  font-family: "PM-semi-bold";
}

.rbc-toolbar .rbc-toolbar-label {
  margin-left: 115px;
}

label.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-root.MuiFormLabel-colorPrimary.Mui-error.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  /* color:grey;
  border-color:grey; */
  color:#0075cf !important;
  border-color:#0075cf !important;
  font-family: "PM-semi-bold";
  /* color: #003a69 !important; */
  color: #003a69 !important;
  font-size: 21px;
}

label#outlined-basic-label{
  color:#0075cf !important;
  border-color:#0075cf !important;
  font-family: "PM-semi-bold";
  color: #003a69 !important;
  font-size: 21px;
}

.MuiOutlinedInput-notchedOutline {
  /* color:grey !important;
  border-color:grey !important; */
  color:#0075cf !important;
  border-color:#ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(233, 233, 233);
  border-width: thick;
  border-width: 1em;
}

.rbc-event {
  /* background-color: #f6ba38 !important; */
  background-color: #85d88e !important;
  box-shadow: 2px 2px 2px 2px rgb(233, 233, 233);
}

.rbc-event-content {
  font-size: 20px;
}

.rbc-off-range-bg {
  background: #fff3a9;
}
.rbc-month-view {
   /* background-color: #ff95a2 !important; */
   /* margin-top: 10px; */
   background-color: #ffb6bf !important;
}

.rbc-month-header {
   font-size: 24px;
   background-color: #ff95a2 !important;
   border-color:#ff5c5c !important;
}

.rbc-today {
  /* eaf6ff */
  background-color: #84caff !important;
}

.MuiFormControl-root {
  width: 450px;
}

.MuiInputBase-root {
  height: 65px !important;
}

.MuiInputLabel-root {
  padding-top: 50px;
}

label.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-root.MuiFormLabel-colorPrimary.Mui-error.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  padding-top: 6px;
}

label#outlined-basic-label {
  padding-top: 6px;
}

.MuiFormControl-root.MuiTextField-root.css-1oe0rqf-MuiFormControl-root-MuiTextField-root {
  width: 450px !important;
}

.currentEvents {
  font-size: 75px;
  font-family: "PM-semi-bold";
}



