
/* -------------- fonts --------------- */
@font-face {
  font-family: "PM-light-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Light-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-medium-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Medium-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-regular";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Regular.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold.otf') format("opentype");
}


.home-container {
  background-image: linear-gradient(to bottom, #000000a8, #000000cf), url('/src/Components/Home/img/CPCity.jpg')
}

.home-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 420vh;
}

/*placeholder for components*/
.culture-punk-heading {
  font-family: "PM-light-shadow";
  font-size: 8vw;
  background-color: transparent;
  color:whitesmoke;
  width: 80%;
  margin: 3vh;
}

.landing-sub-heading {
  font-size: 4vw;
  margin: 0vh;
  color: whitesmoke;
}


.byline-statement {
  font-family: "PM-semi-bold";
  color: whitesmoke;
  width: 100vw;
  font-size: 2vw;
  margin: 1vh;
  width: 70%;
}


.home-sec-1::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('./img/CPCity.jpg');

  width: 100%;
  height: 100%;

  filter: blur(6px);
}


.home-sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-content {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 10vw;
}

.home-sec-3 {
/*
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%); */
  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%), url('./img/CyberPunk.webp');

  background-image: url('./img/CPCity.jpg');
  background-image: linear-gradient(to bottom, #000000a8, #000000cf), url('/src/Components/Home/img/CPCity.jpg');
  background-image: linear-gradient(to bottom, #00000063, #000000d1), url(/src/Components/Home/img/CPCity.jpg);

  background-size: cover;
  background-attachment: fixed;
}


.home-sec-4 {
  /* background-image: linear-gradient(#32064A); */
  /* height: 400vh; */
  /* background-color: #efd631;
  background-image: linear-gradient(to bottom, #efd631ed, #eb8806), url(''); */

}

#parallax-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



div#coin-canvas {
  width: 50%;
  right: 0vw;
  bottom: 0vw;
  background:transparent;
  position: absolute;
  height: 500px;
}

div#spotlight-canvas {
  width: 350px;
  height: 350px;
  background: linear-gradient(180deg, rgb(4 10 103 / 99%), white);
  cursor: grab;
}

div#spotlight-canvas:active {
  cursor: grabbing;
}

#coin-canvas > div {
  background: transparent;
  cursor: grab;
}
#coin-canvas > div:active {
  cursor: grabbing;
}

.hero-statement {
  position: absolute;
  margin: 0 50vw 20vw 0;
  font-size: 3vw;
}


.home-section-header {
  font-family: "PM-regular";
  font-size: 4vw;
  color: whitesmoke;
}

.spotlight-card-header {
  font-family: "PM-regular";
  color: whitesmoke;
}

.home-carousel-banner {
  color: white;
  font-size: 3vh;
}