.NavContainer {
  border: 1px solid black;
}

ul {
  list-style-type: none;
  text-decoration-style: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

li {
  padding: 1rem 5rem 1rem 5rem;
}