@font-face {
  font-family: "PM-regular";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Regular.otf') format("opentype");
}

.NavContainer {
  border: 1px solid black;
  font-size: medium;
  max-height: 5rem;
  position: fixed;
  z-index: 3;
  /* background-color: #F6EBE9; */
  background-color: whitesmoke;
  width: 100%;
  font-family: "PM-regular";
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

li {
  padding: 1rem 3rem 1rem 3rem;
}
