.App {
  text-align: center;
  /* background: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%);  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* the ones with shadow are the cool looking fonts */
@font-face {
  font-family: "PM-light-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Light-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-medium-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Medium-Shadow.otf') format("opentype");
}

@font-face {
  font-family: "PM-regular";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Regular.otf') format("opentype");
}

@font-face {
  font-family: "PM-semi-bold-shadow";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold-Shadow.otf') format("opentype");
}

/* this is for headers */
@font-face {
  font-family: "PM-semi-bold";
  src: url('../../assets/fonts/Proto-Mono/Proto-Mono-Semi-Bold.otf') format("opentype");
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.market-page {
  /* background-color: #f6ebe9; */


  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: 100px 1fr 5fr;
  grid-template-areas:
  "header header"
  "sidebar market-carousel"
  "sidebar market-product-list-container";

  background-image: linear-gradient(225deg, rgba(238,53,32,.65), rgba(246,245,233,.1) 70.71%), linear-gradient(135deg, rgba(53,157,243,1), rgba(246,245,233,1) 70.71%);

}

.market-carousel{
  margin: 5%;
  grid-area: market-carousel;
  overflow: hidden;
}

.market-page h1, .market-page h2, .market-page h3, .market-page h4, .market-page h5, .market-page h6 {
  font-family: "PM-semi-bold";
}

.market-product-list-container {
  grid-area: "market-product-list-container";
}

.sidebar {
  grid-area: sidebar;
}

.market-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin: 50px;

  justify-items: center;
}

.market-header {
  grid-area: header;
}