.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
<<<<<<< HEAD
  /*min-height: 100vh;*/
=======
  min-height: 20vh;
>>>>>>> main
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.market-page {
  background-color: #f6ebe9;

  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "header header"
  "sidebar market-product-list-container"
}

.market-product-list-container {
  grid-area: "market-product-list-container"
}

.sidebar {
  grid-area: sidebar;
}
.market-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin: 50px;

  justify-items: center;
}

.header {
  grid-area: header;
}